.container {
    background: #F2F6F9;
    box-sizing: border-box;
    padding: 4vh 2vw;
    height: 100%;
    overflow: scroll;
    width: 100%;

    .card {
        background: #FFFFFF;
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.12), 0px 3px 10px rgba(0, 0, 0, 0.12);
        box-sizing: border-box;
        border-radius: 8px;
        height: 88px;
        cursor: pointer;
        margin: 0 8px 12px;
        padding: 24px;
    }
}
