@media all and (min-width: 480px) {
    .login {
        display: flex;
        flex-direction: column;
        padding: 60px 0;
    }

    .login form {
        margin: 0 auto;
        max-width: 320px;
    }

    .form {
        display: flex;
        justify-content: space-around;
        padding: 6px;
    }

    .input {
        background-color: #F3F7F9;
        text: #8293A3;
        padding: 8px;
    }
}



